/*
   Breakpoints
   ========================================================================== */

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 1024px;
$screen-md-min: $screen-md;
$screen-lg: 1920px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/*
   Grid
   ========================================================================== */

$container-max-width: 1340px;
$grid-columns: 12;
$grid-gutter-width: 14px;
$grid-float-breakpoint: $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

.container {
	width: 100%;
	margin: 0 auto;
  max-width: $container-max-width;
  
  &--narrow{
    width: 80%;
    margin: 0 auto;
  }
  &--centered{
    width: 1248px;
    margin: 0 auto;
  }
}

$mg-btm-footer: 25px; 