/* ==========================================================================
   System (404/500)
   ========================================================================== */


body.404,
body.500{
	main{
		display: block;
		padding: 5% 0;

		span{
			@include font-size(2);
			text-align: center;
		}
	}
}