/* ==========================================================================
   Home
   ========================================================================== */

body.home {


	.box-banner {
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.banners-top {
		z-index: -1;
		max-width: 100%;
		width: 100%;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
	}
	.banners-secundarios,
	.banners-bottom {
		margin-top: 15px;
		text-align: center;
		overflow: hidden;
		clear: both;
		.row {
			clear: both;
		}
		.box-banner {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
			overflow: hidden;
			margin: 123px 0;
			img {
				width: 100%;
				height: auto;
				-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
				-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
				-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
				-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
				transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
			}
			&:hover {
				img {
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
	.news-shelf {
		overflow: hidden;
		margin-bottom: 10px;
		.banner-news {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.estilo-box {
		@include mq ($screen-md) {
			margin-top: 123px;
		}
	}

	
	 
}
