/* ==========================================================================
   Institucional
   ========================================================================== */

body.institucional {
	main {
		padding: 5% 0 15%;
		overflow: hidden;
	}
	.institucional {
		margin-bottom: 40px;
		&__img {
			max-width: 100%;
		}
		&__sub-tlt {
			font-size: 1.3em;
			color: #776c46;
			margin: 24px 0px;
			@include mq($screen-md) {
				font-size: 1.8em;
				margin: 30px 0px;
			}
		}
		&__sub-txt {
			color: #757575;
			font-weight: 200;
			line-height: 1.5em;
		}
	}
	.sidebar-inst {
		margin-top: 75px;
		&__item {
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: 600;
			color: #776c46;
			margin-bottom: 24px;
			a {
				text-decoration: none;
				color: #a7a7a7;
			}
			&--selected {
				a {
					color: #776c46;
				}
			}
		}
	}
}