/* ==========================================================================
Página de Produto
========================================================================== */

body.produto {
  main {
    overflow: hidden;
    @include mq($screen-md) {
      margin-top: 185px;
    }
    .bread-crumb {
      display: none;
      @include mq($screen-md) {
        display: block;
        margin-bottom: 20px;
      }
    }
    .product-view {
      overflow: hidden;
      clear: both;
      .thumbnails {
        display: inline-block;
        flex-direction: column;
        height: 100%;
        vertical-align: top;
        margin-right: 10px;
      }
      .product-box {
        position: relative;
        display: flex;
        .apresentacao {
          #include {
            @include mq($screen-md) {
              padding-left: 118px;
            }
            a {
              display: block;
            }
            .sku-rich-image-main {
              display: block;
              margin: 0 auto;
              width: 100%;
              max-width: 100%;
              @include mq($screen-md) {
                width: 100%;
              }
            }
          }
          .zoomPad {
            overflow: hidden;
            position: relative;
            text-align: center;
            .zoomWindow {
              display: none;
              .zoomWrapperImage {
                display: none;
              }
              @include mq($screen-md) {
                display: block;
                width: 100%;
                height: 100%;
                left: 0 !important;
                background: none repeat scroll 0 0 #fff;
                .zoomWrapperImage {
                  display: block;
                }
              }
            }
          }
          .thumbs {
            display: none;
            @include mq($screen-md) {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              height: 530px;
              margin-top: 10px;
              text-align: center;
              overflow: hidden;
            }
            li {
              margin: 0 5px 10px;
              display: inline-block;
              @include mq($screen-md) {
                display: block;
                margin: 0 0 5px;
              }
              &:hover {
                opacity: 0.8;
              }
              a {
                &.ON {
                  img {
                    opacity: 0.8;
                  }
                }
              }
            }
          }
        }
      }
      .buy-box {
        overflow: hidden;
        @include mq($screen-md) {
          padding: 0 8%;
        }
        .productName {
          font-size: 1.4em;
          font-weight: bolder;
          color: #333;
          text-transform: uppercase;
          height: 50px;
          overflow: hidden;
        }
        .price-flag-table {
          clear: both;
          margin-bottom: 10px;
          overflow: hidden;
          padding-bottom: 10px;
          .price-info {
            padding: 0;
            .productPrice {
              .descricao-preco {
                .valor-de {
                  @include font-size(1.2);
                  text-decoration: line-through;
                  font-style: normal;
                  color: #757575;
                }
                .skuListPrice {
                  margin-left: -22px;
                  background: white;
                  font-size: 1.4em;
                  font-weight: lighter;
                }
                .valor-por {
                  @include font-size(0);
                  font-weight: bolder;
                  font-style: normal;
                  display: none;
                  color: #333;
                  margin-bottom: 5px;
                  .skuBestPrice {
                    @include font-size(3.6);
                    display: block;
                    font-weight: 300;
                  }
                }
                .valor-dividido {
                  display: block !important;
                  font-size: .7em;
                  font-style: normal;
                  text-transform: uppercase;
                  font-weight: normal;
                  color: #a0a0a0;
                  label,
                  strong {
                    font-weight: normal;
                  }
                }
              }
              .preco-a-vista {
                display: none !important;
              }
              .economia-de {
                display: none !important;
              }
            }
          }
          .flag-table-info {
            span.tabela {
              text-decoration: underline;
              color: #2e2b3e;
              cursor: pointer;
            }
            .flag {
              background-color: #2e2b3e;
              color: #ffcb3a;
              font-weight: 900;
              padding: 10px;
              text-transform: uppercase;
              font-size: 12px;
              margin-bottom: 10px;
              width: auto;
              display: block;
              text-align: center;
              width: 30%;
            }
          }
        }
        .choose-skus {
          overflow: hidden;
          flex: 1;
          .sku-selector-container {
            ul {
              list-style-type: none;
              width: 100%;
              display: block;
              @include mq($screen-md) {
                display: inline-block;
                width: 50%;
                vertical-align: top;
              }
              .specification {
                display: none;
              }
              li {
                @include font-size(1.4);
                text-transform: uppercase;
                display: block;
                overflow: hidden;
                &.skuList {
                  input {
                    display: none;
                  }
                  label {
                    cursor: pointer;
                    background-color: #fff;
                    padding: 10px 15px;
                    color: #201e1e;
                    margin-right: 10px;
                    text-align: center;
                    line-height: 25px;
                    border: 1px solid #fff;
                    display: inline-block;
                    &:hover,
                    &.sku-picked {
                      border: 2px solid #c4c4c4;
                    }
                    &:before {
                      display: none;
                    }
                    &.item_unavailable {
                      background-color: #e6e6e6;
                      border: 1px solid #e6e6e6;
                      position: relative;
                      &:after {
                        content: "X";
                        display: block;
                        position: absolute;
                        top: 6px;
                        left: 24%;
                        font-size: 39px;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
              &.Tamanho {
                width: 95%;
                border-right: 1px solid;
                li.skuList {
                  label {
                    width: auto;
                    height: 40px;
                    line-height: 20px;
                    &:hover {
                      background: #776c46;
                    }
                  }
                }
              }
              &.Cores {
                display: none;
                li.skuList {
                  label {
                    font-size: 0;
                    width: 40px;
                    height: 40px;
                    border: 1px solid transparent;
                    &.skuespec_Amarelo {
                      background-color: #FCBB23;
                    }
                    &.skuespec_Azul {
                      background-color: #0000ff;
                    }
                    &.skuespec_Azul_Claro {
                      background-color: #658EBC;
                    }
                    &.skuespec_Azul_Marinho {
                      background-color: #0F1D42;
                    }
                    &.skuespec_Bege {
                      background-color: #E2CFAE;
                    }
                    &.skuespec_Branco {
                      background-color: #fff;
                      border: 1px solid #ccc;
                    }
                    &.skuespec_Bronze {
                      background-color: #895837;
                    }
                    &.skuespec_Caqui {
                      background-color: #856D41;
                    }
                    &.skuespec_Caramelo {
                      background-color: #D0822F;
                    }
                    &.skuespec_Castanho {
                      background-color: #3E2101;
                    }
                    &.skuespec_Chocolate {
                      background-color: #57362F;
                    }
                    &.skuespec_Cinza {
                      background-color: #6B6B6B;
                    }
                    &.skuespec_Creme {
                      background-color: #6B6B6B;
                    }
                    &.skuespec_Estampado {
                      background-color: #844345;
                    }
                    &.skuespec_Laranja {
                      background-color: #F73C07;
                    }
                    &.skuespec_Lilas {
                      background-color: #9D8DCB;
                    }
                    &.skuespec_Limao {
                      background-color: #48F86D;
                    }
                    &.skuespec_Madeira {
                      background-color: #644B35;
                    }
                    &.skuespec_Marfim {
                      background-color: #E0B370;
                    }
                    &.skuespec_Marrom {
                      background-color: #301701;
                    }
                    &.skuespec_Ocre {
                      background-color: #272725;
                    }
                    &.skuespec_Ouro {
                      background-color: #BE9B47;
                    }
                    &.skuespec_Prata {
                      background-color: #76757B;
                    }
                    &.skuespec_Preto {
                      background-color: #000;
                    }
                    &.skuespec_Rosa {
                      background-color: #F968A9;
                    }
                    &.skuespec_Roxo {
                      background-color: #8756A1;
                    }
                    &.skuespec_Salmao {
                      background-color: #FD7360;
                    }
                    &.skuespec_Tangerina {
                      background-color: #E8740D;
                    }
                    &.skuespec_Turquesa {
                      background-color: #24C7B1;
                    }
                    &.skuespec_Verde {
                      background-color: #4ED1C3;
                    }
                    &.skuespec_Vermelho {
                      background-color: #E45049;
                    }
                    &.skuespec_Vinho {
                      background-color: #630015;
                    }
                    &.skuespec_Violeta {
                      background-color: #BA2161;
                    }
                  }
                }
              }
            }
          }
        }
        .compra-box {
          .buy-button {
            @include font-size(1.8);
            background-color: #09253B;
            width: 100%;
            display: block;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 900;
            padding: 15px;
            text-decoration: none;
            font-weight: lighter;
          }
          .portal-notify-me-ref {
            h3 {
              display: none;
            }
            p {
              font-size: 13px;
              display: block;
              margin: 5px 0;
            }
            input.sku-notifyme-client-name {
              display: none !important;
            }
          }
        }
        .qtd-sku {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
        }
        .qtd {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 300;
          padding: 0;
          flex: 1;
          span {
            @include font-size(1.4);
            text-transform: uppercase;
            font-weight: bolder;
            display: block;
            overflow: hidden;
            line-height: 26px;
            color: #2e2b3e;
            flex-shrink: 0;
            margin-right: 5px;
          }
          .quantidade {
            border: 1px solid #c1c1c1;
            padding: 5px;
            flex-basis: 44%;
            i,
            input {
              @include font-size(1.8);
              text-transform: uppercase;
              font-weight: bolder;
              display: inline-block;
              font-style: normal;
              border: none;
              width: 33.3%;
              background-color: transparent;
              text-align: center;
            }
            i {
              cursor: pointer;
            }
          }
        }
        .qtd-frete-medidas {
          margin-bottom: 10px;
          overflow: hidden;
          padding-bottom: 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 40px 0;
          .frete__text {
            font-size: .7em;
          }
          .frete {
            position: relative;
            overflow: hidden;
          }
          .medidas {
            display: inline-block;
            border-left: 1px solid #c4c4c4;
            padding-left: 27px;
            svg {
              transform: rotate(90deg);
              fill: #999;
            }
          }
          .shipping-values {
            position: relative;
            flex-basis: 70%;
            &__text {
              font-size: .7em;
              width: 85%;
              margin: 0 auto;
              padding-bottom: 5px;
            }
            #popupCalculoFreteWrapper {
              display: none;
            }
            #calculoFrete {
              .header,
              .footer {
                display: none;
              }
              #ctl00_Conteudo_upnlContent {
                .prefixo {
                  font-size: 0;
                  display: inline-block;
                  width: 100%;
                  margin: 0;
                  vertical-align: top;
                  input {
                    @include font-size(1.4);
                    padding: 7px;
                    font-size: 16px;
                    display: block;
                    width: 85%;
                    margin: 0 auto;
                    font-weight: 300;
                  }
                }
                .quantity {
                  display: none;
                }
                .frete-calcular {
                  width: 20%;
                  display: inline-block;
                  margin: 0;
                  vertical-align: top;
                  display: block;
                  position: absolute;
                  top: 0;
                  right: 7.5%;
                  input {
                    padding: 11px;
                    background-color: #333;
                    text-transform: uppercase;
                    text-align: center;
                    border: none;
                    color: #fff;
                    width: 100%;
                    cursor: pointer;
                  }
                }
                .cep-busca {
                  position: absolute;
                  top: -15px;
                  right: 10%;
                  a {
                    text-transform: initial;
                    display: block;
                    font-size: .7em;
                    text-decoration: none;
                    font-weight: 700;
                    color: #756B4B;
                  }
                }
                fieldset {
                  position: relative;
                  font-size: .9em;
                }
                .freight-values {
                  table {
                    width: 100%;
                    display: block;
                    margin-top: 10px;
                    border: 1px solid #ccc;
                    padding: 5px;
                    thead {
                      background-color: #F0F0F0;
                      width: 100%;
                      tr {
                        th {
                          @include font-size(1.2);
                          padding: 5px;
                          text-align: center;
                        }
                      }
                    }
                    tbody {
                      tr {
                        td {
                          @include font-size(1.2);
                          padding: 5px;
                          text-align: center;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .vantagens {
          clear: both;
          overflow: hidden;
          padding: 12px 0;
          ul {
            li {
              display: inline-block;
              width: 50%;
              vertical-align: top;
              svg,
              span {
                display: inline-block;
                vertical-align: middle;
              }
              span {
                text-transform: uppercase;
                font-weight: 900;
                margin-left: 10px;
              }
            }
          }
        }
        .wish-buy {
          .wishlist-box {
            .wishlist-button {
              background-color: #2e2b3e;
              width: 100%;
              display: block;
              text-align: center;
              color: #fff;
              text-transform: uppercase;
              font-weight: 900;
              padding: 9px;
              cursor: pointer;
              border: none;
              svg {
                display: inline-block;
                vertical-align: middle;
              }
              &:after {
                @include font-size(1.6);
                font-family: 'Open Sans', sans-serif;
                content: "Lista de desejos";
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
    .product-info,
    .social-section {
      position: relative;
      h3 {
        font-size: .9em;
        display: block;
        text-transform: capitalize;
        margin-bottom: 10px;
        font-weight: 900;
        color: #2e2b3e;
        margin-bottom: 20px;
        border-bottom: 1px solid #999;
        padding: 5px 0;
      }
      .productReference {
        position: absolute;
        top: 9px;
        right: 0;
        display: block;
        font-size: .6em;
        &:before {
          content: "ref:";
          display: inline-block;
          margin-right: 5px;
          text-transform: uppercase;
        }
      }
      .description {
        position: relative;
        @include mq($screen-md) {}
        .productDescription {
          text-transform: unset;
          line-height: 20px;
          font-size: .9em;
          color: #999;
        }
      }
      .specification {
        #caracteristicas {
          h4 {
            display: none;
          }
          table {
            width: 100%;
            tbody {
              tr {
                th,
                td {
                  text-align: left;
                  width: 50%;
                  padding: 10px;
                }
                &.even {
                  background-color: #F0F0F0;
                }
              }
            }
          }
        }
      }
      .social-share {
        &__icons {
          list-style: none;
          display: flex;
          width: 40%;
          justify-content: space-between;
        }
      }
    }
  }
  .flags .flag {
    top: 70px;
  }
  .buy-together {
    position: relative;
    text-align: center;
    background: #EAEAEA;
    @extend .conteudo-tabela;
    hr {
      display: none;
    }
    a {
      font-size: .9em;
      color: #092234;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
    }
    h3 {
      padding: 30px 0;
    }
    h4 {
      display: none
    }
    table {
      margin: 90px auto 0;
    }
    .itemA {
      padding: 40px;
    }
    .plus,
    .equal {
      padding: 0 30px;
      vertical-align: middle;
      font-size: 3em;
      font-weight: bold;
      color: #726846;
    }
    .itemB {
      @extend .itemA;
    }
  }
}

.conteudo-tabela {
  img {
    width: 100%;
    height: auto;
  }
}

#popup-wrapper {
  @extend .transition;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 9999999;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .3);
  .popup {
    width: 95%;
    padding: 40px;
    background: #fff;
    max-width: 500px;
    text-align: center;
    position: relative;
    box-shadow: 1px 0px 5px 0px #6f6f6f;
    button {
      @extend .transition;
      color: #666;
      cursor: pointer;
      &[name="close-popup"] {
        $size: 25px;
        @extend .transition;
        @include font-size(0);
        top: 2px;
        border: 0;
        right: 2px;
        padding: 0;
        width: $size;
        height: $size;
        cursor: pointer;
        background: none;
        position: absolute;
        &:before,
        &:after {
          @extend .transition;
          top: 50%;
          left: 50%;
          content: '';
          height: 5px;
          width: $size;
          display: block;
          position: absolute;
          background: #838383;
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover {
          &:before,
          &:after {
            background-color: #2e2b3e;
          }
        }
      }
    }
    button[name="logIn"],
    a.logIn {
      @extend .transition;
      @include font-size(1.9);
      color: #838383;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: #2e2b3e;
      }
    }
    p {
      @include font-size(1.6);
      color: #666666;
      padding: 20px 0;
      line-height: 18px;
    }
  }
}