@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif; }

.border-bottom {
  border-bottom: 1px solid #999; }

.body-cart .fake-progress__img {
  margin: 0 auto; }
  .body-cart .fake-progress__img:nth-child(1) {
    display: block; }
  .body-cart .fake-progress__img:nth-child(2) {
    display: none; }
  .body-cart .fake-progress__img:nth-child(3) {
    display: none; }
  .body-cart .fake-progress__img:nth-child(4) {
    display: none; }

.body-order-form .fake-progress__img {
  margin: 0 auto; }
  .body-order-form .fake-progress__img:nth-child(1) {
    display: none; }
  .body-order-form .fake-progress__img:nth-child(2) {
    display: block; }
  .body-order-form .fake-progress__img:nth-child(3) {
    display: none; }
  .body-order-form .fake-progress__img:nth-child(4) {
    display: none; }

.body-order-form .orderform-template .fake-progress__img {
  margin: 0 auto; }
  .body-order-form .orderform-template .fake-progress__img:nth-child(1) {
    display: none; }
  .body-order-form .orderform-template .fake-progress__img:nth-child(2) {
    display: block; }
  .body-order-form .orderform-template .fake-progress__img:nth-child(3) {
    display: none; }
  .body-order-form .orderform-template .fake-progress__img:nth-child(4) {
    display: none; }

.my-class .fake-progress__img {
  margin: 0 auto; }
  .my-class .fake-progress__img:nth-child(1) {
    display: none; }
  .my-class .fake-progress__img:nth-child(2) {
    display: none; }
  .my-class .fake-progress__img:nth-child(3) {
    display: block; }
  .my-class .fake-progress__img:nth-child(4) {
    display: none; }

.body-checkout-confirmation .fake-progress__img {
  margin: 0 auto; }
  .body-checkout-confirmation .fake-progress__img:nth-child(1) {
    display: none; }
  .body-checkout-confirmation .fake-progress__img:nth-child(2) {
    display: none; }
  .body-checkout-confirmation .fake-progress__img:nth-child(3) {
    display: none; }
  .body-checkout-confirmation .fake-progress__img:nth-child(4) {
    display: block; }

.fake-progress {
  padding: 40px; }

.checkout-header {
  list-style: none;
  text-decoration: none; }
  .checkout-header__top-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #032134;
    color: #fff; }
  .checkout-header__icon svg {
    width: 30px;
    height: 30px;
    fill: #fff; }
  .checkout-header__nav-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .checkout-header__item-txt {
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 300; }
  .checkout-header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px;
    padding: 25px; }