/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    clear: both;
    display: flex;
    flex-direction: column;
    color: #766A47;
    font-size: 1.2em;
    *>a {
        text-decoration: none;
        color: #766A47;
    }
}

.section-footer {
    &--bg-grey {
        background: #E5E4E5;
    }

    &--bg-gold {
        background: #766A47;
    }

    &--white-text {
        color: #fff;
    }


    &__direction{
        display: flex;
        flex-direction: column;
        @include mq($screen-md){
            flex-direction: row;
            padding: 0 20px;
        }
        
        &--space-between {
            justify-content: space-between;
        }
    }
    &__column {
        flex-direction: column;
    }
    &__tlt {
        color: #766A47;
        margin-bottom: 15px;
        font-size: 1em;
        font-weight: 400;
        @include mq($screen-md){
            font-weight: 600;
        }
    }
    &--right {
        flex: 1;
    }
}

// TOP FOOTER

.top-footer {
    display: flex;
    &__ajuda {
        text-align: center;
        height: 100%;
        font-size: 0.9em;
        @include mq($screen-md) {
            text-align: left;
        }
        &__ul-column {
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 15px;
            }
            a {
                text-decoration: none;
            }
        }
    }
    &__compra-segura {
        text-align: center;
        @include mq($screen-md){
            text-align: left;
            margin-top: 20px;
        }
        &__img {
            img {
                &:first-child {
                    width: 90px;
                    height: auto;
                }
                &:nth-child(2) {
                    width: 90px;
                    height: auto;
                }
            }
        }
    }
    &__novidades {
        width: 100%;
        flex-direction: row;
        text-align: center;
        @include mq ($screen-md) {
            text-align: left;
            margin-bottom: 40px;

        }
        .form-newsletter {
            flex-direction: column;
            text-align: center;
            @include mq ($screen-md) {
                flex-direction: row;
                text-align: left;
                margin-top: 33px;
            }
            display: flex;
            justify-content: space-between;
           
            .newsletter-button-ok {
                margin: 5% auto;
                border: none;

                @include mq($screen-md) {
                    width: auto;
                    margin: 0;
                }
                background-color: #766A47;
                padding: 10px 35px;
                font-size: .9em;
                color: #fff;
            }
            input {
                margin-bottom: 20px;
                width: 80%;
                outline: none;
                border: none;
                font-size: .9em;
                font-weight: 300;
                font-style: italic;
                background: transparent;
                border-bottom: 1px solid #766A47;
                &:focus{
                    outline: none;
                }
                @include mq($screen-md) {
                    margin-right: 5%;
                    margin-bottom: 0;
                }
            }
        }

    }
    &__follow {
        text-align: center;
        @include mq($screen-md) {
            text-align: left;
        }
        nav{
            display: flex;
            justify-content: center;
            @include mq($screen-md) {
               display: block;
            }
        }
        &__ul-row {
            display: flex;
            width: 90%;
            &--space {
                justify-content: space-around;
            }
            @include mq($screen-md) {
                width: 220px;
            }
        }
    }

    &__revendedor{
        text-align: center;
        @include mq($screen-md) {
            text-align: left;
            display: flex;
            align-items: center;
        } 
        .link-revendedor {
            @include mq ($screen-md){
                margin-right: 150px;
            }
        }
    }
   
    

    &__compra{
        text-align: center;
        @include mq($screen-md){
            text-align: left;

        }
    }

    &--half {
        flex-direction: column;
        flex: 1;
        @include mq($screen-md) {
            flex-direction: row;
            width: 50%;
            margin-right: 5%;
            padding: 30px 0;

        }
       
        
        &:nth-child(2) {
            margin-right: 0;
        }
    }
    &--left {
        flex: 1;
    }

}


// BOTTOM FOOTER 
.bottom-footer {
    font-weight: 300;
    font-size: .8em;
    text-align: center;
    @include mq($screen-md){
        padding: 20px;
        text-align: left;
    }
    .container{
        display: flex;
        align-items: center;
    }

    .copyright {
        @include mq($screen-md) {
            font-size: .7em;
        }
    }
    
}





// COMMON

.divisor{
  padding: 35px 0;
  border-bottom: rgba(118, 106, 71, 0.712) solid 1px;
  width: 95%;
  margin: 0 auto;
  @include mq($screen-md) {
      border-bottom: 0;
      padding: 0;
  }
  &--white{
    border-bottom: #E5E4E5 solid 1px;
  }
  &--no-border{
    padding: 35px 0;
    width: 95%;
    margin: 0 auto;
    border-bottom: 0;
  }
}

.svg-bigger {
  i svg{
    height: 60px;
    width: auto;
    fill: #766A47;
    @include mq($screen-md){
      height: 46px;
      width: auto;
    }
  }
 
}