/* ========================================================================
	Menu Persistente
	======================================================================= */

header {
	&.menu-persistente {
		@extend .transition;
		top: 0;
		left: 0;
		width: 100%;
		position: fixed; // min-height: 77px;
		z-index: 999999999;
		background-color: #fff;
		animation: grow .7s;
		-o-animation: grow .7s;
		-moz-animation: grow .7s;
		-webkit-animation: grow .7s;
		box-shadow: 0 0 50px rgba(#000, .4);
		background-image: none;
		.black-logo {
			display: none;
		}
		.gold-logo {
			display: block;
		}
		background: #fff;
		.top-box {
			background: #062134;
			display: block;
		}
		.main-header {
			.lupa-gold {
				fill: #756B45;
			}
			.container .searchbox .busca input.fulltext-search-box {
				color: #756B45;
				border-bottom: 1px solid #756B45;
			}
			ul {
				li {
					a.first-menu {
						color: #756B45;
					}
				}
			}
		}
		.menu-header {
			*>a {
				color: #776c46;
			}
		}
		a.first-menu {
			color: #776c46;
			&:hover {
				border-bottom: #756B45 solid 2px;
			}
		}
		.top-box {
			display: block;
		}
		.main-header {
			.logo {
				.black-logo {
					display: none;
				}
				.gold-logo {
					display: block;
				}
			}
		}
		.row {
			@extend .transition;
			overflow: hidden;
			margin-left: 0 !important;
			position: inherit !important;
		}
	}
	&.ha-hidding {
		@extend .transition;
		top: 0;
		position: fixed;
		background: #fff;
		z-index: 9999999999999;
		.top-box {
			display: none;
		}
	}
	&.ha-hide {
		top: -100%;
	}
}
