/* ==========================================================================
   Searchform
   ========================================================================== */

.js-open-mobile-search {
	border: none;
	background-color: transparent; // padding-top: 20px;
}

.searchbox {
	padding-top: 28px;
	text-align: right;
	display: none;
	justify-content: space-around;
	&.active-now {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&.active {
		position: absolute;
		right: 0;
		top: 70px;
		width: 100%;
		z-index: 999999999;
		background-color: #fff;
		padding: 5px;
		color: #fff;
	}
	.search-button {
		position: absolute;
		bottom: 12px;
		right: 30px;
		z-index: -1;
		@include mq($screen-md) {
			right: 8px;
			bottom: -10px;
		}
	}
	@include mq($screen-md) {
		display: flex;
		justify-content: center;
		align-items: center;
		.busca {
			width: 80%;
			margin-bottom: 0;
		}
	}
	&.active {
		position: absolute;
		right: 0;
		top: 70px;
		width: 100%;
		z-index: 999999999;
		background-color: #fff;
		padding: 5px;
	}
	.busca {
		position: relative;
		width: 80%;
		margin-bottom: 20px;
		legend,
		label,
		select {
			display: none;
		}
		input {
			border: none;
			border-bottom: 2px solid #000;
			&.fulltext-search-box {
				@include font-size(1.2);
				font-family: 'Open Sans', sans-serif;
				height: 30px;
				padding: 10px;
				border-bottom: 1px solid #756B45;
				width: 100%;
				color: #756B45;
				background-color: transparent;
				font-size: .9em;
				font-weight: 300;
				@include mq($screen-md) {
					border-bottom: 1px solid #fff;
					color: #fff;
				}
			}
			&.btn-buscar {
				right: -34px;
				width: 45px;
				height: 35px;
				border: none;
				font-size: 0;
				cursor: pointer;
				position: absolute;
				top: 0px;
				background: url(/arquivos/search.png) no-repeat 0 0 transparent;
			}
		}
	}
}