/* ==========================================================================
   Shelf
   ========================================================================== */

.prateleira {
	padding: 0 5.5%;
	margin: 40px 0;
	a {
		text-decoration: none;
	}
	>h2 {
		display: none;
	}
	.slick-prev {
		left: -5.5%;
		top: 40%;
		@include mq($screen-md) {
			svg {
			  width: 30px;
			  height: 30px;
			  fill: #092234;
			}
		  }
	}
	.slick-next {
		right: -5.5%;
		top: 40%;
		@include mq($screen-md) {
			svg {
			  width: 30px;
			  height: 30px;
			  fill: #092234;
			}
		  }
	}

	.category_page_title{
		padding: 0 20px;
		position: relative;
	}

	.btn-buy {
		align-items: center;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 71%;
		background: rgba(255, 254, 254, 0.801);
		left: 8%;
		height: 60px;
		width: 84%;
		i {
			margin-right: 5px;
			svg {
			width: 20px;
			height: 20px;
			}
		}
	}
	.button-buy {
		background: #232e3c;
		padding: 7px 50px;
		color: #fff;
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}