/* ==========================================================================
   Shelf
   ========================================================================== */

.prateleira {
  margin: 43px 0;
  h2 {
    display: none;
  }
  article {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    position: relative;
    text-align: center;
    font-size: .8em;
    @include mq ($screen-md) {
      display: block;
      margin-top: 20px;
      font-size: .9em;
    }
    h4 {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: .5em;
    }
    .bestPrice {
      font-weight: 400;
      &::after {
        content: " | ";
        color: inherit;
      }
    }
  }
  a {
    text-decoration: none;
    color: #092234;
    em {
      font-style: normal;
      font-weight: bold;
    }
  }
  .slick-prev,
  .slick-next {
    top: 40%;
    padding: 0;
    @include mq($screen-md) {
      svg {
        width: 48px;
        height: 51px;
        fill: #092234;
      }
    }
  }
  .slick-next {
    @include mq ($screen-md) {
      right: -10px;
    }
  }
  .slick-prev {
    @include mq ($screen-md) {
      left: -10px;
    }
  }
  .category_page_title {
    margin: 0 20px;
    position: relative;
    &:hover {
      .btn-buy {
        top: -80px;
        opacity: 1;
      }
    }
  }
  .btn-buy {
    order: -1;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(255, 254, 254, 0.801);
    height: 60px;
    width: 100%;
    span {
      color: #fff;
    }
    @include mq($screen-md) {
      position: absolute;
      top: -8px;
      left: 0;
      opacity: 0;
      transition: all ease-in-out .3s;
    }
    i {
      margin-right: 5px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .button-buy {
    background: #232e3c;
    padding: 7px 50px;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    @include mq ($screen-md) {}
  }
}

.flag {
  height: 25px;
  width: 60px;
  border-radius: 0 0 0 10px;
  position: absolute;
  top: 30px;
  right: -7px;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    border-bottom: 6px solid #5F5A44;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 0;
    height: 0;
    -ms-transform: rotate(135deg);
    transform: rotate(-145deg);
    position: absolute;
    top: -2.3px;
    right: .9px;
    z-index: -1;
  }
}

.flags {
  &__destaque .flag {
    background: #756B45;
    color: #092234;
  }
  &__desconto .flag {
    background: #0B2539;
    color: #fff;
    font-size: .7em;
  }
}

.oldPrice {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  text-decoration: line-through;
  color: #999;
  font-weight: normal;
}

.shelf-destaques,
.shelfRelacionados {
  a {
    .bestPrice {
      color: #092234;
      ;
      font-size: 1.1em;
    }
    .installment {
      color: #756B45;
    }
  }
  @include mq ($screen-md) {
    padding: 0 30px;
  }
  .flags__desconto {
    display: none;
    p {
      color: #fff;
    }
  }
}

.shelf-semana {
  a span,
  em {
    color: #756B45;
  }
  @include mq ($screen-md) {
    padding: 0 30px;
  }
  .flags__destaque {
    display: none;
    p {
      color: #0B2539;
    }
  }
}

.tlt-shelf {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 22px;
  color: #092234;
  span {
    height: 60%;
    display: block;
  }
  @include mq($screen-md) {
    font-size: 2.6em;
    margin-top: 64px;
    span {
      display: block;
      margin: 8px 0;
      height: 80%;
    }
  }
}