/* ==========================================================================
   SidePanel
   ========================================================================== */

.js-open-mobile-menu{
	border: 0;
	outline: none;
	background: none;
	// padding-top: 25px;

	.menu-toggle{
		width: 25px;
		height: 20px;
		display: block;
		margin: 0 auto;
		position: relative;
		pointer-events: none;

		span {
			@extend .transition;
			left: 0;
			opacity: 1;
			height: 13%;
			width: 100%;
			display: block;
			background:#766A44;
			position: absolute;
			border-radius: 5px;
			transform: rotate(0deg);

			&:nth-child(1) {
			  top: 0px;
			}

			&:nth-child(2) {
			  top: 9px;
			}

			&:nth-child(3) {
			  top: 18px;
			}

		}
	}

	&.active{
		.menu-toggle{
			span{
				&:nth-child(1) {
					top: 9px;
					transform: rotate(135deg);
				}
				&:nth-child(2) {
					opacity: 0;
					left: -60px;
				}
				&:nth-child(3) {
					top: 9px;
					transform: rotate(-135deg);
				}
			}
		}
	}
}

.side-panel {
	top: 66px;
	width: 80%;
	color: #fff;
	height: 100%;
	left: -1000px;
	z-index: 99999;
	position: fixed;
	max-width: 260px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #707070;
	transition-duration: .4s;
	transition-timing-function: ease;
	transition-property: left box-shadow;
	-webkit-overflow-scrolling: touch;
	transition: left .3s ease;

	&--open {
		left: 0;
		box-shadow: 0 0 50px rgba(#000, .4);
		transition-duration: .4s;
		transition-timing-function: ease;
		transition-property: left box-shadow;
		-webkit-overflow-scrolling: touch;
		transition: left .3s ease;
	}

	.row {
		top: auto !important;
		left: auto !important;
		margin: auto !important;
		max-width: 100% !important;
		position: inherit !important;
	}

	.sidepanel-header{
		padding: 10px 0 10px 10px;

		.menu-mob-title {
		    font-size: 13px;
		    padding-top: 6px;
		    font-weight: 400;
		}
	}

	.sidepanel-content{
		padding: 0;

		li.menu-item-sidepanel{
			a.menu-anchor-sidepanel{
			    @include font-size(1.3);
				color: #fff;
			    display: block;
			    cursor: pointer;
			    font-weight: 300;
			    margin-left: 20px;
			    text-decoration: none;
			    padding: 10px 18px 10px 0;
				border-bottom: 1px solid #fff;
			}

			&.has-sub{
				a{
					&:after{
				    	content: "+";
				    	float: right;
				    	font-weight: 400;
				    }

				    &.active{
				    	&:after{
					    	content: "-";
					    	float: right;
					    	font-weight: 400;
					    }
				    }
				}
			}

			.submenu-sidepanel{
				display: none;
				background-color: #fff;

				nav{
					li{
						a{
							color: #000;
						    display: block;
						    font-size: 13px;
						    font-weight: 300;
						    padding: 10px 18px;
						    text-decoration: none;
						    cursor: pointer;

						    &:after{
						    	content: "";
						    }
						}

						&:first-child{
							a{
								font-size: 11px;
					    		font-weight: bold;
							}
					    }
					}
				}
			}
		}
	}
}